.Dashboard {
  &__header {
    background-color: #fff;
    box-shadow: 0 1px 4px rgb(0 21 41 / 8%);

    @media only screen and (max-width: 575px) {
      padding: 0 24px;
    }
  }

  &__header-menu {
    cursor: pointer;
  }

  &__avatar {
    background-color: #43c2cb;
  }

  &__user {
    margin: 0 8px;
  }

  &__content {
    margin: 24px;
    min-height: calc(100vh - 48px - 64px);

    @media only screen and (min-width: 576px) {
      margin: 24px 50px;
    }
  }

  &__footer {
    @media only screen and (max-width: 575px) {
      padding: 24px;
    }
  }
}
