.Dashboard {
  &__header {
    background-color: #fff;
    box-shadow: 0 1px 4px rgb(0 21 41 / 8%);
  }

  &__header-menu {
    cursor: pointer;
  }

  &__avatar {
    background-color: #43c2cb;
    margin-right: 8px;
  }

  &__content {
    margin: 50px;
    min-height: calc(100vh - 100px - 64px);
  }

  &__footer {
    color: rgba(0, 0, 0, 0.45);
    text-align: center;

    a {
      color: rgba(0, 0, 0, 0.45);
      transition: all 0.3s;
    }

    a:hover {
      color: rgba(0, 0, 0, 0.85);
    }
  }

  &__footer-links {
    margin-bottom: 8px;

    a:nth-child(2) {
      margin: 0 40px;
    }
  }
}
